
<!--<lesson-list></lesson-list>-->
<!--<speaker></speaker>-->

<!--<landing></landing>-->
<!--<fa [name]="\'rocket\'" [border]=true></fa>-->


<!--<admin-settings></admin-settings>
<hr>
<admin-speaker></admin-speaker>-->


<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <img src="logo.png" alt="National Consortium of Breast Centers, Inc." style="height:200px;">
        <div class="btn" role="group" aria-label="...">
            <a [routerLink]="['']">Search</a> | 
            <a [routerLink]="['landing']">Landing Page</a> | 
            <a [routerLink]="['admin']">Speaker Admin</a> | 
            <a [routerLink]="['settings']">Settings</a>
        </div>
        <br>
        <br>
        <br>
        <router-outlet></router-outlet>

    </div>
  </div>
</div>
<!--<tester></tester>-->
<!--<testformarray></testformarray>-->
