<div class="container">
  <div class="row">
    <div class="col-xs-12">
      
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Speaker's firstname, lastname, or email">
        <span class="input-group-addon">search</span>
      </div>

      <div>
        <ul>
          <li *ngFor="let course of courses">
            {{ course }}
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li *ngFor="let course of courses">
            {{ course }}
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>